
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Homepage</title>
</head>
<body>
    <div class="header">
        <h1>Welcome To Management System </h1>
    </div>
    <div class="subheading">
        <h2>
            Hi {{username}} ! You can manage here.
        </h2>
    </div>
    <div class="box-container">
        <a href="/employee-data" class="box-link">
            <div class="box">
                 <h3>
                     Data
                 </h3>
                <p>
                    Track Your Data.<br>
                    Data from your DataBase.<br>
                    Based on their diffrent columns.
                </p>
                <button>Data</button>
            </div>
        </a>
        
       <!-- <a href="/reports-data" class="box-link">
            <div class="box">
                <h3>
                    Reports!
                </h3>
                <button>Enter data here</button>
            </div>
        </a> -->
</div>
 <a href="/">Logout</a>

</body>
</html>


